.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100%;
            min-height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: 1px solid green;
        }

        .admin-main {}


        table {
            // .btn-action {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;

            // }


        }

    }
}