.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100%;
            min-height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border-bottom: 1px solid rgb(94, 94, 94);
            display: flex;
            justify-content: space-between;
            padding: 5px 20px 10px 10px;

            .leftside {
                cursor: pointer;
                font-size: 23px;
            }

            .rightside {
                display: flex;
                gap: 15px;
            }
        }

        .admin-main {}


        table {
            // .btn-action {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;

            // }


        }

    }
}